{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
<h1 class="display-4">Welcome to MyFlaskApp</h1>
<p class="lead">This is a simple utility site for the users to create their own articles!</p>
<hr class="my-4">
<p>You can register login and get started to make the world a better place!.</p>
{% if session.logged_in == NULL %}
  <a href="/register" class="btn btn-primary btn-lg">Register</a>
  <a href="/login" class="btn btn-success btn-lg">Login</a>
{% endif %}
</div>
{% endblock %}
